<div class="main-content">
  <div class="container">
      <div class="row" *ngIf="!isLoading">
          <div class="col-md-12">
            <img src="/assets/img/Loading.gif" width="50px">
          </div>
      </div>
      <div class="row" *ngIf="isLoading">
        <table>
          <tr *ngFor="let event of events">
            <td>{{event.Title}}</td>
            <td>{{event.Time}}</td>
            <td>{{event.Location.City}}</td>
          </tr>
        </table>
      </div>
  </div>
</div>
