<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card" >
          <img src="/assets/img/event.jpeg" width="100" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{event.Title}}</h5>
            <p>{{time}}</p>
            <p class="card-text">Location: {{event.Location.City}} {{event.Location.State}} {{event.Location.Country}}</p>
            <p>{{seats}} {{availableSeats}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-right">
        <button type="button" class="btn btn-success nav-item nav-link-edit" (click)="goBack()">Go to List</button>
      </div>
    </div>
  </div>
</div>
